body {
  background: url("./../patern-blue.png");
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/* --------------- */
/* Navbar */
/* --------------- */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  background-color: #22223b;
}

.nav--item {
  display: flex;
  align-content: center;
}

.nav--item__link {
  align-self: center;
  height: 20px;
  color: #f2e9e4;
  text-decoration: none;
  font-weight: bold;
}
.nav--item__link:hover {
  /* height: auto; */
  color: #ffcb52;
}

/* --------------- */
/* Views */
/* --------------- */
.container {
  /* background: #e2e2e2; */
  width: 80vw;
  margin: 0 auto;
}

.center {
  display: flex;
  align-self: center;
  flex-direction: column;
}

/* Index */
.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.posts-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.card {
  background-color: #22223b;
  margin: 1.4em auto 0 auto;
  width: 100%;
  border-radius: 5px;
}
.card img,
.card video {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card__head {
  color: #f2e9e4;
  font-size: 15px;
  margin-top: 0;
  /* Limite à 2 lignes de texte pour le titre */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}
.card__body {
  margin-top: -4px; /* corectif bug rendering de l'image qui prend 4px de plus */
  padding: 15px;
}
.card__desc {
  color: #f2e9e4;
  font-size: 10px;
}
.card__btn {
  border: none;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  border-radius: 2px;
}
.add-favorite {
  background-color: #bde0fe;
}
.remove-favorite {
  background-color: #febdbd;
}

/* Login */
.text-login {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 5em;
  font-weight: bold;
  color: #f75050;
}

.login--button {
  border: none;
  border-radius: 5px;
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  margin: 20px auto 0 auto;
}
.login--button:hover {
}

/* Fav */
.fav_connexion {
  color: #22223b;
}
